<a href="https://colab.research.google.com/github/Shubhranshu-Malhotra/Medical-Cost-Forecast-TF/blob/main/Medical_Cost_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports

In [16]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

## Load the data

In [4]:
# Read data directly from github [Important]

insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

## Prepare the data

In [10]:
# One hot encoding
insurance_one_hot = pd.get_dummies(insurance)
insurance_one_hot.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 12 columns]

In [12]:
X = insurance_one_hot.drop('charges', axis = 1)
y = insurance_one_hot['charges']

In [14]:
X.head()

   age     bmi  children  ...  region_northwest  region_southeast  region_southwest
0   19  27.900         0  ...                 0                 0                 1
1   18  33.770         1  ...                 0                 1                 0
2   28  33.000         3  ...                 0                 1                 0
3   33  22.705         0  ...                 1                 0                 0
4   32  28.880         0  ...                 1                 0                 0

[5 rows x 11 columns]

In [15]:
y[:5]

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

## Divide into train and test dataset

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
X_train[:5]

      age    bmi  ...  region_southeast  region_southwest
560    46  19.95  ...                 0                 0
1285   47  24.32  ...                 0                 0
1142   52  24.86  ...                 1                 0
969    39  34.32  ...                 1                 0
486    54  21.47  ...                 0                 0

[5 rows x 11 columns]

In [19]:
y_train[:5]

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
Name: charges, dtype: float64

In [20]:
X_train.shape, X_test.shape

((1070, 11), (268, 11))

## Build a Model

In [21]:
# Build a NN model

tf.random.set_seed(42)

# 1. Create a model
insurance_model = tf.keras.Sequential([
                                       tf.keras.layers.Dense(10),
                                       tf.keras.layers.Dense(1)
])

# 2. Compile the model
insurance_model.compile(loss = tf.keras.losses.mae,
                        optimizer = tf.keras.optimizers.Adam(),
                        metrics = ['mae'])

# 3. Fit the model
insurance_model.fit(X_train, y_train, epochs = 100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 13298.3328 - mae: 13298.3328
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 12945.3002 - mae: 12945.3002
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 12705.8516 - mae: 12705.8516
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 13393.0255 - mae: 13393.0255
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 13305.0852 - mae: 13305.0852
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 13161.1847 - mae: 13161.1847
Epoch 7/100
34/34 [==============================] - 0s 1ms/step - loss: 13182.2408 - mae: 13182.2408
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 13511.3947 - mae: 13511.3947
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 13284.3684 - mae: 13284.3684
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 13429.6341 - mae: 13429.6341
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 13742.4318 - mae: 13742.4318
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 12943.7648 - mae: 12943.7648
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 13503.1354 - mae: 13503.1354
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 13124.1619 - mae: 13124.1619
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 13334.2008 - mae: 13334.2008
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 13147.8569 - mae: 13147.8569
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 12563.6366 - mae: 12563.6366
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 12783.4340 - mae: 12783.4340
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 12439.9996 - mae: 12439.9996
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 12512.3968 - mae: 12512.3968
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 11670.3468 - mae: 11670.3468
Epoch 22/100
34/34 [==============================] - 0s 1ms/step - loss: 11801.4214 - mae: 11801.4214
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 12343.2018 - mae: 12343.2018
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 11875.8568 - mae: 11875.8568
Epoch 25/100
34/34 [==============================] - 0s 1ms/step - loss: 12824.7970 - mae: 12824.7970
Epoch 26/100
34/34 [==============================] - 0s 1ms/step - loss: 11583.2413 - mae: 11583.2413
Epoch 27/100
34/34 [==============================] - 0s 1ms/step - loss: 11787.2031 - mae: 11787.2031
Epoch 28/100
34/34 [==============================] - 0s 1ms/step - loss: 12203.2217 - mae: 12203.2217
Epoch 29/100
34/34 [==============================] - 0s 1ms/step - loss: 11306.3929 - mae: 11306.3929
Epoch 30/100
34/34 [==============================] - 0s 1ms/step - loss: 11680.7169 - mae: 11680.7169
Epoch 31/100
34/34 [==============================] - 0s 1ms/step - loss: 11916.7864 - mae: 11916.7864
Epoch 32/100
34/34 [==============================] - 0s 1ms/step - loss: 11466.0290 - mae: 11466.0290
Epoch 33/100
34/34 [==============================] - 0s 1ms/step - loss: 11047.1027 - mae: 11047.1027
Epoch 34/100
34/34 [==============================] - 0s 1ms/step - loss: 11144.0368 - mae: 11144.0368
Epoch 35/100
34/34 [==============================] - 0s 1ms/step - loss: 11077.8023 - mae: 11077.8023
Epoch 36/100
34/34 [==============================] - 0s 1ms/step - loss: 10894.0176 - mae: 10894.0176
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 10919.3359 - mae: 10919.3359
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 10373.3597 - mae: 10373.3597
Epoch 39/100
34/34 [==============================] - 0s 1ms/step - loss: 10518.6652 - mae: 10518.6652
Epoch 40/100
34/34 [==============================] - 0s 1ms/step - loss: 10378.5293 - mae: 10378.5293
Epoch 41/100
34/34 [==============================] - 0s 1ms/step - loss: 10137.1586 - mae: 10137.1586
Epoch 42/100
34/34 [==============================] - 0s 1ms/step - loss: 9894.8922 - mae: 9894.8922
Epoch 43/100
34/34 [==============================] - 0s 1ms/step - loss: 9967.5847 - mae: 9967.5847
Epoch 44/100
34/34 [==============================] - 0s 1ms/step - loss: 9486.9317 - mae: 9486.9317
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 9648.2123 - mae: 9648.2123
Epoch 46/100
34/34 [==============================] - 0s 1ms/step - loss: 9098.0968 - mae: 9098.0968
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 9899.4177 - mae: 9899.4177
Epoch 48/100
34/34 [==============================] - 0s 1ms/step - loss: 9413.4544 - mae: 9413.4544
Epoch 49/100
34/34 [==============================] - 0s 1ms/step - loss: 9085.3804 - mae: 9085.3804
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 9201.4256 - mae: 9201.4256
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 9084.5609 - mae: 9084.5609
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 8924.0750 - mae: 8924.0750
Epoch 53/100
34/34 [==============================] - 0s 1ms/step - loss: 8503.6920 - mae: 8503.6920
Epoch 54/100
34/34 [==============================] - 0s 1ms/step - loss: 8920.2830 - mae: 8920.2830
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 8397.1886 - mae: 8397.1886
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 8504.0496 - mae: 8504.0496
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 8663.9297 - mae: 8663.9297
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 8453.1813 - mae: 8453.1813
Epoch 59/100
34/34 [==============================] - 0s 1ms/step - loss: 7775.4650 - mae: 7775.4650
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 8104.2167 - mae: 8104.2167
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 8647.4121 - mae: 8647.4121
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 8216.8408 - mae: 8216.8408
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 8181.5569 - mae: 8181.5569
Epoch 64/100
34/34 [==============================] - 0s 1ms/step - loss: 7598.6713 - mae: 7598.6713
Epoch 65/100
34/34 [==============================] - 0s 1ms/step - loss: 7994.9134 - mae: 7994.9134
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 7651.5628 - mae: 7651.5628
Epoch 67/100
34/34 [==============================] - 0s 1ms/step - loss: 7707.0061 - mae: 7707.0061
Epoch 68/100
34/34 [==============================] - 0s 1ms/step - loss: 7695.1555 - mae: 7695.1555
Epoch 69/100
34/34 [==============================] - 0s 1ms/step - loss: 8155.3779 - mae: 8155.3779
Epoch 70/100
34/34 [==============================] - 0s 1ms/step - loss: 7337.8914 - mae: 7337.8914
Epoch 71/100
34/34 [==============================] - 0s 1ms/step - loss: 7702.9415 - mae: 7702.9415
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 7349.1384 - mae: 7349.1384
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 7822.5134 - mae: 7822.5134
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 7636.3708 - mae: 7636.3708
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 7922.7179 - mae: 7922.7179
Epoch 76/100
34/34 [==============================] - 0s 1ms/step - loss: 7209.5753 - mae: 7209.5753
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 8065.2047 - mae: 8065.2047
Epoch 78/100
34/34 [==============================] - 0s 1ms/step - loss: 7098.5415 - mae: 7098.5415
Epoch 79/100
34/34 [==============================] - 0s 1ms/step - loss: 6719.6886 - mae: 6719.6886
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 6817.7156 - mae: 6817.7156
Epoch 81/100
34/34 [==============================] - 0s 1ms/step - loss: 7395.9653 - mae: 7395.9653
Epoch 82/100
34/34 [==============================] - 0s 2ms/step - loss: 8152.7214 - mae: 8152.7214
Epoch 83/100
34/34 [==============================] - 0s 2ms/step - loss: 7367.3675 - mae: 7367.3675
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 7258.3920 - mae: 7258.3920
Epoch 85/100
34/34 [==============================] - 0s 1ms/step - loss: 6913.8941 - mae: 6913.8941
Epoch 86/100
34/34 [==============================] - 0s 1ms/step - loss: 7695.8121 - mae: 7695.8121
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 7110.6148 - mae: 7110.6148
Epoch 88/100
34/34 [==============================] - 0s 1ms/step - loss: 7550.8226 - mae: 7550.8226
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 7253.0268 - mae: 7253.0268
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 7832.7646 - mae: 7832.7646
Epoch 91/100
34/34 [==============================] - 0s 2ms/step - loss: 7548.5498 - mae: 7548.5498
Epoch 92/100
34/34 [==============================] - 0s 2ms/step - loss: 7572.1570 - mae: 7572.1570
Epoch 93/100
34/34 [==============================] - 0s 1ms/step - loss: 7097.3599 - mae: 7097.3599
Epoch 94/100
34/34 [==============================] - 0s 1ms/step - loss: 7042.7579 - mae: 7042.7579
Epoch 95/100
34/34 [==============================] - 0s 1ms/step - loss: 7505.8533 - mae: 7505.8533
Epoch 96/100
34/34 [==============================] - 0s 1ms/step - loss: 7693.1335 - mae: 7693.1335
Epoch 97/100
34/34 [==============================] - 0s 1ms/step - loss: 6999.9670 - mae: 6999.9670
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 7120.2431 - mae: 7120.2431
Epoch 99/100
34/34 [==============================] - 0s 1ms/step - loss: 6932.8996 - mae: 6932.8996
Epoch 100/100
34/34 [==============================] - 0s 2ms/step - loss: 7025.9135 - mae: 7025.9135

## Evaluate on test

In [22]:
# Check the results of insurance model on test data
insurance_model.evaluate(X_test, y_test)

9/9 [==============================] - 0s 2ms/step - loss: 7539.9517 - mae: 7539.9517

[7539.95166015625, 7539.95166015625]

In [23]:
y_train.mean(), y_train.median()

(13346.089736364489, 9575.4421)

This shows that our model is performing substantially bad because error is pretty high when compared to mean or median.

## Improving our Model